<article class="rental detailed">
  <center><Rental::Image
    src={{@rental.image}}
    alt="Property Picture"
  /></center>
  <div class="details">
    <h3>{{@rental.title}}</h3>
    <div class="detail type">
      <span>Type:</span> {{@rental.type}}
    </div>
    <div class="detail owner">
      <span>Owner:</span> {{@rental.owner}}
    </div>
    <div class="detail city">
      <span>City:</span> {{@rental.city}}
    </div>
    <div class="detail state">
        <span>State: </span>{{@rental.state}}
    </div>
    <div class="detail country">
        <span>Country: </span>{{@rental.country}}
    </div>
    <div class="detail bedrooms">
      <span>Number of bedrooms:</span> {{@rental.bedrooms}}
    </div>
    <div class="detail bathrooms">
        <span>Number of Bathrooms: </span>{{@rental.bathrooms}}
    </div>
    <div class="detail kitchen">
        <span>Kitchen Type: </span>{{@rental.kitchen}}
    </div>
    <div class="detail wifi">
        <span>Wifi?: </span>{{@rental.wifi}}
    </div>
    <div class="detail price">
        <span>Price: </span>${{@rental.price}}
    </div>
  </div>
  <div class="socialMedia">
    <div class="share-twitter">
      <ShareButton
        @text="Im staying at {{@rental.title}} at LexPark.com! Visit us and you could be next"
        @hashtag="vacation, travel, work, luxury, lexpark"
      >
        <img src="/assets/twitterimg.png" alt="twitter"/>
      </ShareButton>
    </div>
    <div class="share-fb">
      <a href="https://www.facebook.com/emberjavascript/"target="_blank" id="link-style" rel="external nofollow noopener noreferrer">
      <img src="/assets/fbimg.png" alt="twitter"/></a>
    </div>
  </div>
  <div class="detail-description">
      <p>{{@rental.description}}</p>
  </div>

  
  <Map
    @lat={{@rental.coordinates.lat}}
    @lng={{@rental.coordinates.lng}}
    @zoom="10"
    @width="850"
    @height="620"
  />

</article>


